  <tr is="turbo-frame" id="<%= dom_id(task, 'table_row') %>">
    <td><%= task.public_id %></td>
    <td><%= task.assignee&.first_name %></td>
    <td><%= task.status %></td>
    <td><%= task.title %></td>
    <td><%= task.description %></td>
    <td><%= link_to 'Edit', edit_task_path(task) %></td>
    <td>
      <% if task.assignee == current_user %>
        <%= link_to 'Complete', complete_task_path(task), method: :put %>
      <% end %>
    </td>
  </tr>
